<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
    <div class="container-fluid bg-dark text-white">
        <div class="text-center py-4">
            <!-- Footer Logo -->
            <img src="Images/logo.jpg" alt="Logo" class="footer-logo mb-3">

            <!-- Disclaimer Section -->
            <p class="disclaimer">
                The content presented on this website is solely for informational purposes and does not constitute a service offer. Prices mentioned here are subject to change without prior notification, and the availability of the listed properties is not assured. Images showcased are illustrative and may not precisely represent the actual properties.
            </p>
            
            <!-- Privacy Policy and Terms -->
            <p>
                <a href="#" class="text-light text-decoration-none">Privacy Policy</a> | 
                <a href="#" class="text-light text-decoration-none">Terms & Conditions</a>
            </p>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center bg-black text-light py-2">
        <text>&copy; 2024 The Consulate Apartments. All rights reserved.</text>
    </div>
</footer>


</body>
</html>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>