
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/fontAwesome/css/all.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container" >
        <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" alt="">
        </a>
        <button class="navbar-toggler" style="background-color:#b5932e;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto fw-bold">
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="#highlight">Highlights</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="#floor-plan">Pricing & Floor Plan</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="#amenities">Amenities</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="#location">Location</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link text-light" href="#about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
